/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*Base: 1em Ratio: 1.067em (minor second)*/
  
h1 {
    line-height: 1em;
    font-size: 1.793em;
    padding: 1em;
}
h2{
  line-height:1em;
  font-size: 1.296em;
  padding: 0.5em;
}
body{
  line-height: 1.222em;
  font-size: 0.937em; /* 19px/16px */
  padding: 0.5em;
}
p {
  line-height: 1.222em;
  font-size: 0.937em; /* 19px/16px */
  padding: 0.5em;
}
ul,
li {
  line-height: 1.222em;
  font-size: 0.937em;
  padding-bottom: 1.222em; /* 22px */
  padding-left: 0.9em;
}
li:last-child {
  padding-bottom: 0;
}
